In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('data/Canada.xlsx',
sheet_name='Canada by Citizenship',
skiprows=range(20),skipfooter=2)

print('beep boop beep!', '\nData ready!')

beep boop beep!
Data ready!

In [4]:
df.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1

In [5]:
df.tail()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,...,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,...,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,...,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,...,1450,615,454,663,611,508,494,434,437,407

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 43 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Type      195 non-null    object
 1   Coverage  195 non-null    object
 2   OdName    195 non-null    object
 3   AREA      195 non-null    int64
 4   AreaName  195 non-null    object
 5   REG       195 non-null    int64
 6   RegName   195 non-null    object
 7   DEV       195 non-null    int64
 8   DevName   195 non-null    object
 9   1980      195 non-null    int64
 10  1981      195 non-null    int64
 11  1982      195 non-null    int64
 12  1983      195 non-null    int64
 13  1984      195 non-null    int64
 14  1985      195 non-null    int64
 15  1986      195 non-null    int64
 16  1987      195 non-null    int64
 17  1988      195 non-null    int64
 18  1989      195 non-null    int64
 19  1990      195 non-null    int64
 20  1991      195 non-null    int64
 21  1992      195 non-null    int64
 22  1993      195 non-null    int64
 23  1994      195 non-null    int64
 24  1995      195 non-null    int64
 25  1996      195 non-null    int64
 26  1997      195 non-null    int64
 27  1998      195 non-null    int64
 28  1999      195 non-null    int64
 29  2000      195 non-null    int64
 30  2001      195 non-null    int64
 31  2002      195 non-null    int64
 32  2003      195 non-null    int64
 33  2004      195 non-null    int64
 34  2005      195 non-null    int64
 35  2006      195 non-null    int64
 36  2007      195 non-null    int64
 37  2008      195 non-null    int64
 38  2009      195 non-null    int64
 39  2010      195 non-null    int64
 40  2011      195 non-null    int64
 41  2012      195 non-null    int64
 42  2013      195 non-null    int64
dtypes: int64(37), object(6)
memory usage: 65.6+ KB

## Dropping & Renaming Columns

In [14]:
df.drop(['AREA', 'REG', 'DEV', 'Type', 'Coverage'], axis=1, inplace=True)

In [15]:
df.rename(columns={'OdName':'Country', 'AreaName':'Continent', 'RegName':'Region'}, inplace=True)

In [31]:
df.columns.values

array(['Country', 'Continent', 'Region', 'DevName', 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013], dtype=object)

In [32]:
df.head()

,Country,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,1,1

In [46]:
#creating a 'Total' column for the sum of all values
df['Total'] = df.sum(axis=1)

In [47]:
df.head()

,Country,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1223,856,702,560,716,561,539,620,603,15699
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,6
4,Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,1,1,0,0,0,0,1,1,15

In [49]:
df.isnull().sum()

Country      0
Continent    0
Region       0
DevName      0
1980         0
1981         0
1982         0
1983         0
1984         0
1985         0
1986         0
1987         0
1988         0
1989         0
1990         0
1991         0
1992         0
1993         0
1994         0
1995         0
1996         0
1997         0
1998         0
1999         0
2000         0
2001         0
2002         0
2003         0
2004         0
2005         0
2006         0
2007         0
2008         0
2009         0
2010         0
2011         0
2012         0
2013         0
Total        0
dtype: int64

In [53]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
1980,195.0,508.394872,1949.588546,0.0,0.0,13.0,251.5,22045.0
1981,195.0,566.989744,2152.643752,0.0,0.0,10.0,295.5,24796.0
1982,195.0,534.723077,1866.997511,0.0,0.0,11.0,275.0,20620.0
1983,195.0,387.435897,1204.333597,0.0,0.0,12.0,173.0,10015.0
1984,195.0,376.497436,1198.246371,0.0,0.0,13.0,181.0,10170.0
1985,195.0,358.861538,1079.309600,0.0,0.0,17.0,197.0,9564.0
1986,195.0,441.271795,1225.576630,0.0,0.5,18.0,254.0,9470.0
1987,195.0,691.133333,2109.205607,0.0,0.5,26.0,434.0,21337.0
1988,195.0,714.389744,2443.606788,0.0,1.0,34.0,409.0,27359.0
1989,195.0,843.241026,2555.048874,0.0,1.0,44.0,508.5,23795.0
1990,195.0,964.379487,3158.730195,0.0,2.0,38.0,612.5,31668.0
1991,195.0,1064.148718,2952.093731,0.0,3.0,51.0,657.5,23380.0
1992,195.0,1136.856410,3330.083742,0.0,6.5,74.0,655.0,34123.0
1993,195.0,1138.712821,3495.220063,0.0,11.5,85.0,722.5,33720.0
1994,195.0,993.153846,3613.336444,0.0,9.5,76.0,545.0,39231.0
1995,195.0,962.625641,3091.492343,0.0,10.5,91.0,550.5,30145.0
1996,195.0,1026.076923,3321.045004,0.0,14.5,118.0,603.5,29322.0
1997,195.0,989.153846,3070.761447,0.0,19.5,114.0,612.5,22965.0
1998,195.0,824.241026,2385.943695,0.0,15.0,106.0,535.5,21049.0
1999,195.0,922.143590,2887.632585,0.0,16.0,116.0,548.5,30069.0
2000,195.0,1111.343590,3664.042361,0.0,16.0,138.0,659.0,35529.0
2001,195.0,1244.323077,3961.621410,0.0,22.0,169.0,793.5,36434.0
2002,195.0,1144.158974,3660.579836,0.0,18.5,165.0,686.0,31961.0
2003,195.0,1114.343590,3623.509519,0.0,21.5,161.0,673.5,36439.0
2004,195.0,1190.169231,3710.505369,0.0,19.0,191.0,756.5,36619.0
2005,195.0,1320.292308,4425.957828,0.0,28.5,210.0,832.0,42584.0
2006,195.0,1266.958974,3926.717747,0.0,25.0,218.0,842.0,33848.0
2007,195.0,1191.820513,3443.542409,0.0,31.0,198.0,899.0,28742.0
2008,195.0,1246.394872,3694.573544,0.0,31.0,205.0,934.5,30037.0
2009,195.0,1275.733333,3829.630424,0.0,36.0,214.0,888.0,29622.0
2010,195.0,1420.287179,4462.946328,0.0,40.5,211.0,932.0,38617.0
2011,195.0,1262.533333,4030.084313,0.0,37.5,179.0,772.0,36765.0
2012,195.0,1313.958974,4247.555161,0.0,42.5,233.0,783.0,34315.0
2013,195.0,1320.702564,4237.951988,0.0,45.0,213.0,796.0,34129.0
Total,195.0,32867.451282,91785.498686,1.0,952.0,5018.0,22239.5,691904.0

## Checking the type of column texts

In [58]:
#checking column values types
[type(col) for col in df.columns.values]

[str,
 str,
 str,
 str,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 int,
 str]

In [60]:
df.columns = df.columns.map(str)

In [61]:
[type(col) for col in df.columns]

[str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str]